.Header {
	position: relative;
	width: 100%;
	height: 40px;
	background: black;
	text-align: center;
	color: white;
	display: flex;
	flex-direction: row;
}
.headerLeft {
	display: flex;
	flex-direction: row;
	position: absolute;
	left: 0;
	margin-left: 4px;
}
.headerRight {
	display: flex;
	flex-direction: row;
	position: absolute;
	right: 0;
	margin-right: 4px;
}
.centerText {
	margin: 0 auto;
	align-self: center;
	margin-bottom: 5px;
	font-size: 1.2em;

}
.iconDiv {
	margin : 5px;
}
.translationText {
	font-weight: bold;
	font-size: 1.3em;
	line-height: 23px;
}

.logo {
	width: 6.5em;

}
.HeaderBranding{
	margin : 1em;
	display: flex;
	flex-direction: row;
}
.headerTitleDiv {
	margin-top: 1.2em;
	margin-left : .5em;
	display: flex;
	flex-direction: column;
}
.headerTitle {
	font-size: 2em;

}
.solid {
  position: absolute; 
  border-top: 3px solid #008336;
  width: 28%;
  height: 1px;
 margin-top: .6em;

}
.leftLine {
	left: 0;
	margin-left: 4em;
}
.rightLine {
	right : 0;
	margin-right: 4em;
}
.headerSubtitle{
	position: relative;
	margin-top: .5em;
	font-size: 1em;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

@media only screen and (max-width: 600px) {
  .logo {
	width: 3em;
}
.solid {
  width: 23%;
  height: 1px;
 margin-top: .7em;
}
.leftLine {
	left: 0;
	margin-left: 0em;
}
.rightLine {
	right : 0;
	margin-right: 0em;
}
.headerTitle {
	font-size: 1em;

}
.headerTitleDiv {
	margin-top: 0em;
	margin-left : .6em;
	display: flex;
	flex-direction: column;
}
.headerSubtitle{
	font-size: .9em;	
}

}